<p><strong>----------- Current User Session: ---------</strong></p>
        <% @user = User.find(session[:user_id]) %><br>
        Username: <%= @user.username %><br>
        Email: <%= @user.email %><br>
        Name: <%= @user.name %><br>
        User ID: <%= @user.id %><br>
        <% if session[:omniauth_data] %>
                <%= image_tag session[:omniauth_data]['info']['image'] %><br> 
        <% end %>

<%= form_tag("/logout", method:'delete' ) do %>
        <%= submit_tag "Logout" %>
<% end %>
<p><strong>--------------------------------------------------</strong></p>
