<h1>Sessions#new</h1>
<p>Authorization Page w/ basic, then use FACEBOOK</p>

<% form_for @user, :url => login_path(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :password %>
    <%= f.text_field :password %><br>
    <%= f.submit %>
    <p>Say something</p>
<% end %>