<h1>User List</h1>
<h2>Below is the full list of Users who have visited Restaurant Rater!</h2>

<ul>
    <% @users.each_with_index do |user, index| %>
        <li>
            <div><strong>User <%= index + 1%>:</strong> "<%= user.username %>"</div>
            <span class="tab">Name: <%= user.name %><span class="tab">Age: <%= user.age %><br>
            <span class="tab">City: <%= user.city %><span class="tab">State: <%= user.state %><br>
            <div><span class="tab"><span class="tab">(<%= user.reviews.size %>) Reviews Posted</div><br>
        </li>
    <% end %>
</ul>
