<h1>Restaurant List</h1>
<h3>Below is the full list of <%= @restaurants.size %> Restaurant kept on Restaurant Rater!</h3>

<p><%= link_to "Add Restaurant", new_restaurant_path %></p>
<ul>
    <% @restaurants.each_with_index do |restaurant, index| %>
        <li>
            <div><strong>Restaurant: <%= restaurant.name %></strong></div>
            <div> <span class="tab">Location: <%= restaurant.city %>, <%= restaurant.state %></div>
            <div><span class="tab"> Dine-in: 
                <% if restaurant.dine_in %>
                    Yes
                <% else %>
                    No
                <% end %>
            <span class="tab"> Take-out: 
                <% if restaurant.take_out %>
                    Yes
                <% else %>
                    No
                <% end %>
            <div><span class="tab"> Reviews: <%= restaurant.reviews.size %> | Average: <%= restaurant.avg_rating %> stars</div>
            </div><br>
        </li>
    <% end %>
</ul>
