<h1>Restaurant List</h1>
<h3>Below is the list of <%= @restaurants.size %> Restaurant kept on Restaurant Rater!</h3>

<h4>View Filters: 
<%= form_for :restaurants, method: :get do |f| %>
    <%= f.label :state %>
    <%= f.collection_select(:filter_by_state, Restaurant.available_states, :state, :state, include_blank: true) %>
    <%= f.submit 'Filter' %>
<% end %></h4>  
<%= form_for :restaurants, method: :get do |f| %>
    <%= f.submit 'Clear Filters' %>
<% end %></h4>  

<h3>
<%= form_tag('/restaurants', method: :get) do %>
    <div><%= label_tag 'Search By Restaurant Name' %>
    <%= text_field_tag 'search', nil, placeholder: 'Enter search term...'%>
    <%= submit_tag 'Search' %></div>
<% end %>
</h3>

<ul>
    <% @restaurants.each_with_index do |restaurant, index| %>
        <li>
            <div><strong>Restaurant: <%= restaurant.name %></strong></div>
            <div> <span class="tab"><%= restaurant.located %></div>
            <div><span class="tab"> Dine-in: 
                <% if restaurant.dine_in %>
                    Yes
                <% else %>
                    No
                <% end %>
            <span class="tab"> Take-out: 
                <% if restaurant.take_out %>
                    Yes
                <% else %>
                    No
                <% end %>
            <div><span class="tab"> Average: <%= restaurant.avg_rating %> (<%= restaurant.reviews.size %> Reviews) <%= link_to "See Reviews", restaurant_reviews_path(restaurant) %></div>
            <div><span class="tab"> <%= link_to "Learn More", restaurant_path(restaurant) %></div>
            </div><br>
        </li>
    <% end %>
</ul>
