<h1>Restaurant Profile - <%= @restaurant.name %></h1>

<ul>
    <%= @restaurant.located %>
    <div><span class="tab"> Dine-in: 
        <% if @restaurant.dine_in %>
            Yes
        <% else %>
            No
        <% end %>
    <span class="tab"> Take-out: 
        <% if @restaurant.take_out %>
            Yes
        <% else %>
            No
        <% end %></div><br>
    <div>--------------------------------------------------------</div>
    <div>Number of Reviews: <%= @restaurant.reviews.size %></div><br>
    <div>Total Rating: <%= @restaurant.total_rating %></div><br>
    <div>Average Rating (1-5 stars): <%= @restaurant.avg_rating %></div><br>
    <%= link_to "See Reviews", restaurant_reviews_path(@restaurant) %>
</ul>
