<h1><% if @restaurant %><%= @restaurant.name %><% end %> Reviews List</h1>
<h2>Below is the list of Reviews kept on Restaurant Rater!</h2>

<ul>
    <% @reviews.each_with_index do |review, index| %>
        <li>
            <div class='button-line'>[Review <%= index + 1%>]</div>
            <div><span class="tab"> Restaurant: <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %></div>
            <div><span class="tab">Rating: <%= review.rating %> stars</div>
            <div><span class="tab"> <em>Comment:</em> <%= review.comment %><span class="tab">-<%= link_to review.user.name, user_path(review.user) %></div><br>
            <br>
        </li>   
    <% end %>
</ul>
