<h1><% if @restaurant %><%= @restaurant.name %><% end %> Reviews List</h1>
<h2>Below is the list of Reviews kept on Restaurant Rater!</h2>

<h4>View Filters: 
<%= form_for :reviews, method: :get do |f| %>
    <%= f.label :user %>
    
    <%= f.collection_select(:filter_by_user, User.all, :id, :name, include_blank: true) %>
    <%#= f.collection_select(:filter_by_user, User.all.where(id: @user).present? ||= User.all, :id, :name, include_blank: true) %>
    <%= f.submit 'Filter' %>
<% end %></h4>
<%= form_for :reviews, method: :get do |f| %>
    <%= f.submit 'Clear Filters' %>
<% end %></h4>  

<ul>
    <% @reviews.each_with_index do |review, index| %>
        <li>
            <div><span class="tab"> Restaurant: <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %></div>
            <div><span class="tab">Rating: <%= review.rating %> stars</div>
            <div><span class="tab"> <em>Comment:</em> <%= review.comment %><span class="tab">-<%= link_to review.user.name, user_path(review.user) %></div><br>
            <br>
        </li>   
    <% end %>
</ul>
