<h1><% if @restaurant %><%= @restaurant.name %><% end %> Reviews List</h1>
<h2>Below is the list of Reviews kept on Restaurant Rater!</h2>

<h4>View Filters: 
<%= form_for :reviews, method: :get do |f| %>
    <%= f.label :user %>
    
    <%= f.collection_select(:filter_by_user, User.all, :id, :name, include_blank: true) %>
    <%#= f.collection_select(:filter_by_user, User.all.where(id: @user).present? ||= User.all, :id, :name, include_blank: true) %>
    <%= f.submit 'Filter' %>
<% end %></h4>
<%= form_for :reviews, method: :get do |f| %>
    <%= f.submit 'Clear Filters' %>
<% end %></h4>  

<ul>
    <% @reviews.each_with_index do |review, index| %>
        <% if (index % 2 == 0) %>
            <li class="review-container index-odd">
                <div><span class="tab"> <strong>Restaurant:</strong> <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %></div>
                <div><span class="tab"> <strong>Rating:</strong> <%= review.rating %> stars <%= num_stars_review(review.rating) %></div>
                <div><span class="tab"> <strong>Comment:</strong> <%= review.comment %><span class="tab"></div>
                <div><span class="tab"> <strong>Submitted by:</strong> <%= link_to review.user.name, user_path(review.user) %></div>
                <br>
            </li>   
        <% else %>
            <li class="review-container index-even">
                <div><span class="tab"> <strong>Restaurant:</strong> <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %></div>
                <div><span class="tab"> <strong>Rating:</strong> <%= review.rating %> stars <%= num_stars_review(review.rating) %></div>
                <div><span class="tab"> <strong>Comment:</strong> <%= review.comment %><span class="tab"></div>
                <div><span class="tab"> <strong>Submitted by:</strong> <%= link_to review.user.name, user_path(review.user) %></div>
                <br>
            </li>  
        <% end %>
    <% end %>
</ul>
