<h1>Review</h1>
<h2>Here is your review</h2>

<%= link_to "Return to Restaurant List", restaurants_path %><br>
<%= link_to "Return to Review List", reviews_path %><br>

<%= link_to "Edit Review", edit_review_path(@review) %><br>


<ul>
    <li>
        <div><span class="tab"> Restaurant: <%= @review.restaurant.name %> <span class="tab">Rating: <%= @review.rating %></div>
        <div><span class="tab"> Comment: <%= @review.comment %></div>
        <div><span class="tab"><span class="tab"><span class="tab"><span class="tab"><span class="tab">-<%= @review.user.username %><br><br>
    </li>
</ul>
<p>If you'd like to join, please feel free to _sign up_</p>