<h1>Review</h1>
<h2>Here is your review</h2>

<ul>
    <li>
        <div><span class="tab"> Restaurant: <%= @review.restaurant.name %> <span class="tab">Rating: <%= @review.rating %> stars</div>
        <p>Dining Method: <%= @review.dining_method %></p>
        <div><span class="tab"> Comment: <%= @review.comment %></div>
        <div><span class="tab"><span class="tab"><span class="tab"><span class="tab"><span class="tab">-<%= @review.user.username %><br><br>
    </li>
</ul>
