<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Rater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    
  </head>

  <body>
    <div class="navigation">
        <ul>
          <a href="/">Home</a>
          <a href="/users">Users</a>
          <a href="/restaurants">Restaurants</a>
          <a href="/reviews">Reviews</a>
          <div class="navigation-right">  
            <% if !logged_in? %>
                <%= link_to "Log In", login_path %>
                <%= link_to "Sign Up", new_user_path %>
            <% else %>
                <%= link_to "My Profile", user_path(current_user) %>
            <% end %>
          </div> 

        </ul>
      </div>
      <div class="navigation-right">  
        <%= render '/sessions/session' if logged_in? %>
      </div>
    <%= yield %>

    <div class="footer">
    <sub>Est. 2020 - Absolutely no copyrights trademarked. </sub>
    </div>
  </body>
</html>
