<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Rater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  </head>

  <body>
    <div class="navigation">
        <ul>
          <a href="/">Home</a>
          <a href="/users">Users</a>
          <a href="/restaurants">Restaurants</a>
          <a href="/reviews">Reviews</a>
          <div class="navigation-right"> 
            <a href="/login">Login</a>
            <a href="/users/new">Signup</a> 
          </div> 
        </ul>
      </div>
      <#% binding.pry %>
      <% if session[:name] %>
        <% name = session[:name] %>
        <p>Welcome <%= name -%>! We know who you are thanks to Omniauth!</p>
        <p>You were authenticated by  <%= session[:omniauth_data]['provider'] %></p>

        The raw data returned from Omniauth were:
        <pre>
          <%= session[:omniauth_data] %>
        </pre>
      <% end %>


    <%= yield %>

    <div class="footer">
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    <sub>Est. 2020 - Absolutely no copyrights trademarked. </sub>
    </div>
  </body>
</html>
